<mat-card>
    <mat-card-title>Novo Evento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="eventos.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="eventos.description" name="description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço Evento" [(ngModel)]="eventos.address" name="address">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="eventos.status" name="status">
        </mat-form-field>
    </form>

</mat-card>

<button mat-raised-button (click)="createEventos()">
    Salvar
</button>
<button mat-raised-button (click)="cancel()">
    Cancelar
</button>