<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Não deixe de fazer algo bom por achar que está fazendo pouco.
    </mat-card-subtitle>
</mat-card>
<mat-card-header class="home mat-elevation-z3">
    <mat-card-title class="sub">
        Eventos Realizados
    </mat-card-title>
</mat-card-header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="container">
        <div class="barbearia">
            <h2><em class="fas fa-cut"></em></h2>
            <p>Corte do Bem</p>
        </div>
        <div class="sopao">
            <h2><em class="fas fa-utensils"></em></h2>
            <p>Sopão do Bem</p>
        </div>
        <div class="bg2">
            <h2><em class="fas fa-running"></em></h2>
            <p>Miles</p>
        </div>
        <div class="bg1">
            <h2>36 &deg;</h2>
            <p>Temperature</p>
        </div>
    </div>
</body>