<mat-card>
    <mat-card-title>Novo Item</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="itemDoacao.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço Médio(R$)" [(ngModel)]="itemDoacao.price" name="price">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createItemDoacao()">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>